*{
  overscroll-behavior: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "_focus-visible.css";
}

@layer components {
  .hyperlink {
    @apply flex items-center text-primary-600;


    &[href^="https://"]::after {
      @apply ml-1 inline-block h-[1em] w-[1em];
      content: url(./icons/external.svg);
    }
  }
}

@layer utilities {
  .circle-clip {
    clip-path: circle();
  }
}

/* In your CSS file or inline styles */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  /* Adjust the duration as needed */
}


/***** COOKIE BANNER *****/
.cookie-banner {
  width: 100%;
  height: auto;
  padding: 0.3rem 0.5rem;
  /* background-color: rgb(82, 82, 142); */
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0;
  display: none;
  z-index: 10;
}

.cookie-banner.active {
  opacity: 1;
  display: block
}

.cookie-banner.hidden {
  display: none;
}

@keyframes banner {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cookie-buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.cookie-banner a {
  color: #f5f5f5;
  text-decoration: underline;
}


/***** END COOKIE BANNER ******/
.main-content-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
  /* width: 100%; */
  margin: auto
}
.main-content-container aside{
  flex-basis: 25%;
  flex-grow: 1;
}
.main-content-container article{
  flex-basis: 70%;
  flex-grow: 1
}

h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 1rem 0;
  scroll-margin-top: 5rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Place the canvas behind other content */
}

/***** END HOMEPAGE ANIMATION ******/

#news:checked ~ .check-news {
  opacity: 1;
}

#careers:checked ~ .check-careers {
  opacity: 1;
}

#events:checked ~ .check-events {
  opacity: 1;
}

#privacy:checked ~ .check-privacy {
  opacity: 1;
}

/***** END FOOTER CHECKBOX ******/


.longDate {
  display: flex;
}

.shortDate {
  display: none;
}

@media only screen and (min-width: 1200px){

  .movingCard{
    height: 400px;
    
    &:hover{
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      height: 500px;
      
      .info{
        transition: all 0.3s ease-in-out;
        color: black;
      }
    }
  }
  
  .eventImageWrapper{
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 60%);
  }
  
  .eventFull{
    
    &:hover {
      cursor: pointer;
      
      .eventImage {
        opacity: 0.9;
        filter: brightness(40%);
        transform: scale(1.2) rotate(5deg);
        transition: 300ms ease-in-out;
      }

      .shortDate {
        display: flex;
        opacity: 1;
        transform: scale(1.5);
        transition: 300ms ease-in-out;
      }
    }
  }
}
  