@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "_focus-visible.css";
}

@layer components {
  .hyperlink {
    @apply flex items-center text-primary-600;


    &[href^="https://"]::after {
      @apply ml-1 inline-block h-[1em] w-[1em];
      content: url(./icons/external.svg);
    }
  }
}

@layer utilities {
  .circle-clip {
    clip-path: circle();
  }
}

/* In your CSS file or inline styles */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
  /* Adjust the duration as needed */
}